
body{
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  color: rgba(33,33,33,1);
  font-size: .95em;
  overflow-x: hidden;
}
button{
  display: none;
}
p{
  padding: 0px;
}

a{
  color: rgba(34,110,147,1);
  cursor: pointer;
}


.grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(1, auto);  /* 2 rows */
  gap: 3px; /* Space between items */
  list-style-type: square; /* Default bullets */
  padding: 0 35px;
  
}

.grid-list li {
  padding:  0px 5px;
}

#sidebar{
  margin: 0px;
  width: 15vw;
  height: 100vh;
  background-color: rgba(33,33,33,1);
  position: fixed;

}

#homepageName{
  display: flex;
  align-items: center;
  height: 35vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 270;
  font-style: normal;
  font-size: 2em;
}

#homepageName>p{
  color: rgba(255,255,255,1);
  margin: 0px;
  padding: 0px 40px;
}

.MainContent{
  width: 85vw;
  margin: 0px;
  margin-left: 15vw;
  overflow-x: hidden; /* Ensures no content spills over */
  box-sizing: border-box; 
}

.Name{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5vw 0px;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 270;
  font-style: normal;
  /*border: 1px solid red;*/ 
}

.Intro,.Intro-gallery,.gallery-container{
  display: flex;
  /*border: 1px solid red;*/ 
  justify-content: center;
}

.Intro-gallery{
  margin-bottom: 150px;
}


#introBox>p{
  /*border: 1px solid red;*/ 
  margin: 0px;
  padding: 0px 0px;
}

#introBox{
  /*border: 1px solid red;*/ 
  width: 65%;
}

#pubtext{
  width: auto;
  margin-top: 7vw;
}

#publist{
  width: 100%;
}

#publist>li{
  width: 65%;
  padding: 12px 0px;
  margin: 0px auto;
  
}


#publist>li::marker {
    content: counter(list-item) ") ";
  }

#introBox>img{
  width: 30%;
  float: left;
  padding-right: 10px;
  
}


.gallery-cards{
  width: 50%;
  overflow: hidden;
  text-align: center;
}

.gallery-cards>img{
  max-height: 50vh;
}

.gallery-cards>p{
  margin-bottom: 250px;
}



.content {
            max-height: auto;
            font-size: 1.2em;
            background-color: rgba(33,33,33,1);
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 270;
            font-style: normal;
}

.content a {
            display: block;
            padding: 15px 40px;
            text-decoration: none;
            color: white;
            text-align: left;
}

.content a:hover {
    color: rgba(34,110,147,1);
}





@media screen and (max-width: 800px){

#sidebar{
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100vw;
  height: 8vh;
  transition: height 0.2s ease-in-out;
  background-color: rgba(33,33,33,1);
  position: fixed;
  overflow: hidden; 
  align-items: center;
}

#homepageName{
  display: none;
}

button{
  display: flex;
  align-items: center;  /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  width: 50px;
  margin: 2vh 0px;
  cursor: pointer;
  background: none;
  border: none; 
}
.menubtn{
  height: 4vh;
  width: 10vw;
}

.content{
  text-align: center;
}
.content a {
            padding: 25px 0px;
            text-decoration: none;
            color: white;
            text-align: center;
            margin: 5vh 0px;
}
	
	
.MainContent{
  width: 100vw;
  margin: 0px;
}
  
.Name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
  padding: 3.5vw 0px;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 270;
  font-style: normal;
}

.Intro,.Intro-gallery,.gallery-container{
  flex-direction: column;
  /*border: 1px solid red;*/ 
  justify-content: center;
  align-items: center;
}
#introBox,#pubtext{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 65%;
}
#pubtext{
  margin-top: 8vh;
  padding: 3.5vw 0px;
  text-align: center;
}
#publist{
  width: 75%;
  margin: 0px auto;
}

#publist>li{
  width: 100%;
  padding: 12px 0px;
  margin: 0px 0px;
}

#introBox>img{
  width: 75%;
  float: none;
  padding-right: 0px;
  padding-bottom: 10px;
  
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columns */
  grid-template-rows: repeat(1, auto);  /* 2 rows */
  gap: 10px; /* Space between items */
  list-style-type: square; /* Default bullets */
  padding: 5px 0px;
  
}

.grid-list li {
  padding:  0px 0px;
}
#introBox>p{
  word-break: break-all;  /* Ensures words break instead of overflowing */
  overflow-wrap: break-word; /* Breaks long words to fit */
  white-space: normal;  /* Allows text wrapping */
  hyphens: auto;   
}

.Intro-gallery{
  margin-bottom: 50px;
}

.gallery-cards{
  width: 70%;
  overflow: hidden;
  text-align: center;
  margin-top: 0px;
}

.gallery-cards>img{
  width: 100%;
  max-height: auto;
  
}

.gallery-cards>p{
  margin-bottom: 200px;
}

}

